body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/space_Background_1024.png);
    background-size: cover;
}

.title-screen {
    color: white;
}

.game-title {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 100px;
    background-image: -webkit-linear-gradient(#101b37, #E41376, #01C8EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#startButton {
    position: relative;
    text-align: center;
    width: 200px;
    padding: 20px;
    font-size: 20px;
    color: #01C8EE;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    border: 5px solid #01C8EE;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: transparent;
    cursor: pointer;
}

#startButton:hover {
    box-shadow: 0 0 5px #01C8EE inset, 0 5px 50px 0 #01C8EE;
}

.instructions {
    position: absolute;
    text-align: center;
    width: 300px;
    padding: 20px;
    font-size: 20px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    border: 5px solid white;
    letter-spacing: 5px;
    background: transparent;
    list-style: none;
}
li {
    margin: 1em;
}

.game-board {
    position: relative;
}

.score {
    position: absolute;
    z-index: 10;
    color: white;
    left: 10px;
    top: 10px;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}

#gameOverEl {
    position: absolute;
    top: 40%;
    left: 30%;
    color: #E41376;
    background: transparent;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 175px;
}

#resetButton {
    position: relative;
    text-align: center;
    width: 200px;
    padding: 20px;
    font-size: 15px;
    color: #E41376;;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    border: 5px solid #E41376;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: transparent;
    cursor: pointer;
}

#canvas {
    border: 2px solid black;
    background-color: black;
}